# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WorkSpace-idea\house-11-20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/compiler.xml
/jarRepositories.xml
/encodings.xml
/misc.xml
/uiDesigner.xml
